/* Some Resets ----------------------------------------- */
* {
  box-sizing: border-box; }

html {
  font: 14px/1.4 Sans-Serif; }

/* Variables ------------------------------------------- */
/* Form Styles ----------------------------------------- */
form {
  width: 320px;
  float: left;
  margin: 20px; }
  form > div {
    position: relative;
    overflow: hidden; }
  form input, form textarea {
    width: 100%;
    border: 2px solid #7d7d7d;
    background: none;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 8px 12px;
    outline: 0; }
    form input:valid, form textarea:valid {
      background: white; }
    form input:focus + label, form textarea:focus + label {
      background: #0689f0;
      color: white;
      font-size: 70%;
      padding: 1px 6px;
      z-index: 2;
      text-transform: uppercase; }
  form label {
    transition: background 0.7s, color 0.7s, opacity 0.7s, top 0.7s, bottom 0.7s, right 0.7s, left 0.7s;
    position: absolute;
    color: #999999;
    padding: 7px 6px; }
  form textarea {
    display: block;
    resize: vertical; }

form.go-bottom input, form.go-bottom textarea {
  padding: 12px 12px 12px 12px; }
form.go-bottom label {
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%; }
form.go-bottom input:focus, form.go-bottom textarea:focus {
  padding: 4px 6px 20px 6px; }
form.go-bottom input:focus + label, form.go-bottom textarea:focus + label {
  top: 100%;
  margin-top: -16px; }

form.go-right label {
  top: 2px;
  right: 100%;
  width: 100%;
  margin-right: -100%;
  bottom: 2px; }
form.go-right input:focus + label, form.go-right textarea:focus + label {
  right: 0;
  margin-right: 0;
  width: 40%;
  padding-top: 5px; }
