@import "compass";
@import "compass/css3/opacity";

/* Some Resets ----------------------------------------- */
* {
  box-sizing: border-box;
}

html {
  font: 14px/1.4 Sans-Serif;
}

/* Variables ------------------------------------------- */
$gray: rgba(125, 125, 125, 1.0);
$dgray: rgba(153, 153, 153, 1.0);
$blue: rgba(6, 137, 240, 1.0);
$white: rgba(255, 255, 255, 1.0);
$orange: rgba(240, 109, 6, 1.0);
$t: 0.7s;

/* Form Styles ----------------------------------------- */
form {
  width: 320px;
  float: left;
  margin: 20px;

  > div {
    position: relative;
    overflow: hidden;
  }

  input, textarea {
    width: 100%;
    border: 2px solid $gray;
    background: none;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 8px 12px;
    outline: 0;

    &:valid {
      background: $white;
    }

    &:focus + label {
      background: $blue;
      color: $white;
      font-size: 70%;
      padding: 1px 6px;
      z-index: 2;
      text-transform: uppercase;
    }
  }

  label {
    transition:
      background $t,
      color $t,
      opacity $t,
      top $t,
      bottom $t,
      right $t,
      left $t;
    position: absolute;
    color: $dgray;
    padding: 7px 6px;
  }

  textarea {
    display: block;
    resize: vertical;
  }
}

form.go-bottom {
  input, textarea {
    padding: 12px 12px 12px 12px;
  }

  label {
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  input:focus, textarea:focus {
    padding: 4px 6px 20px 6px;
  }

  input:focus + label, textarea:focus + label {
    top: 100%;
    margin-top: -16px;
  }
}

form.go-right {
  label {
    top: 2px;
    right: 100%;
    width: 100%;
    margin-right: -100%;
    bottom: 2px;
  }

  input:focus + label, textarea:focus + label {
    right: 0;
    margin-right: 0;
    width: 40%;
    padding-top: 5px;
  }
}